.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.client-list__link {
  display: flex;
  border: 1px solid $icon-primary;
  border-radius: 4px;
  fill: $icon-primary;
  transition: border $transition-time-animation, fill $transition-time-animation;

  &:hover,
  &:focus {
    border: 1px solid $accent-primary;
    border-radius: 4px;
    fill: $accent-primary;
  }
}
