.contact-header {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 10px;
  }

  @include desktop {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.contact-header__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-secondary;
  transition: color $transition-time-animation;

  &:hover,
  &:focus {
    color: $accent-primary;
  }
}

.contact-header__icon {
  fill: currentColor;
  margin-right: 10px;
}
