.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @include tablet {
    margin-right: 144px;
  }

  @include desktop {
    align-items: unset;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-left__logo {
  margin-bottom: 20px;
}
