.footer-center {
  margin-right: auto;

  &__heading {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-tertiary;
    margin-bottom: 20px;
  }
}
