.header-line {
  border-bottom: 1px solid #ececec;
}

.header-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  // padding-top: 24px;
  // padding-bottom: 25px;
  // @include phone {
  //   display: none;
  // }

  @include tablet {
    padding: 21px 15px;
  }

  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
