.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $logo-primary;

  &__dark-theme {
    color: $logo-dark;
  }

  &__light-theme {
    color: $logo-light;
  }

  @include tablet {
    font-size: 26px;
    line-height: 1.19;
  }

  @include desktop {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header-page__logo {
  @include tablet {
    margin-right: 83px;
  }
  @include desktop {
    margin-right: 93px;
  }
}

// .mobile-header-page__logo {
//   margin-right: 93px;
// }
