.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $logo-primary;

  &__dark-theme {
    color: $logo-dark;
  }

  &__light-theme {
    color: $logo-light;
  }
}

.header-page__logo {
  margin-right: 93px;
}

.footer-left__logo {
  margin-bottom: 20px;
}
