.mobile-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mobile-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-primary;
  padding-right: 10px;
  border-right: 1px solid $border-secondary-alpha;

  &--alone {
    padding-right: 0;
    border-right: none;
  }
}
