.main-post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-post__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: $text-tertiary;

  @include desktop {
    font-size: 44px;
    line-height: 1.36;
  }

  &--position {
    max-width: 365px;
    margin-bottom: 30px;

    @include desktop {
      max-width: 696px;
    }
  }
}

.main-post__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 10px 41px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $text-tertiary;
  background-color: $button-primary;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color $transition-time-animation,
    box-shadow $transition-time-animation;

  &:hover,
  &:focus {
    background-color: $accent-secondary;
    box-shadow: 0px 4px 4px $shadow-primary;
  }
}

// .main-post__title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   text-align: center;
//   color: $text-tertiary;

//   &--position {
//     width: 696px;
//     margin-bottom: 30px;
//   }
// }

// .main-post__btn {
//   display: block;
//   margin: 0 auto;
//   width: 200px;
//   padding: 10px 41px;
//   font-family: inherit;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;
//   color: $text-tertiary;
//   background-color: $button-primary;
//   border-radius: 4px;
//   border: none;
//   cursor: pointer;
//   transition: background-color $transition-time-animation,
//     box-shadow $transition-time-animation;

//   &:hover,
//   &:focus {
//     background-color: $accent-secondary;
//     box-shadow: 0px 4px 4px $shadow-primary;
//   }
// }
