.strenght-card {
  max-width: 100%;

  @include tablet {
    max-width: 354px;
  }

  @include desktop {
    max-width: 100%;
  }

  &__icon {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    background-color: $background-tertiary;
    border-radius: 4px;
  }

  &__heading {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

    @include tablet {
      text-align: left;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-secondary;
  }
}

// .strenght-card {
//   &__icon {
//     padding: 25px 100px;
//     background-color: $background-tertiary;
//     border-radius: 4px;
//   }

//   &__heading {
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin-top: 30px;
//     margin-bottom: 10px;
//   }

//   &__text {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: $text-secondary;
//   }
// }
