// :root {
$text-primary: #212121;
$text-secondary: #757575;
$text-secondary-alpha: #75757580;
$text-tertiary: #fff;
$text-tertiary-alpha: #ffffff99;
$background-primary: #fff;
$background-secondary: #2f303a;
$background-tertiary: #f5f4fa;
$button-primary: #2196f3;
$button-secondary: #f5f4fa;
$logo-primary: #2196f3;
$logo-dark: #000;
$logo-light: #fff;
$accent-primary: #2196f3;
$accent-secondary: #8cc3f0;
$icon-primary: #afb1b8;
$icon-secondary: #212121;
$icon-tertiary: #000;   
$icon-check: #fff;
$social-icon-primary: #afb1b8;
$social-icon-secondary: #fff;
$social-icon-bcg-primary: #fff;
$social-icon-bcg-secondary: #ffffff1a;
$social-icon-accent-primary: #fff;
$label-background-primary: #2f303acc;
$shadow-primary: #00000026;
$border-primary: #eee;
$border-primary-alpha: #0000001a;
$border-secondary-alpha: #21212133;
$border-tertiary-alpha: #ffffff4d;
$backdrop: #00000033;
$overlay-bcg-alpha: #2196f3e6;
$transition-time-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
